* {
  margin: 0;
  padding: 0; }

button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0; }

body {
  background-color: #ecedec;
  font-family: 'Oxygen', 'trebuchet ms';
  font-weight: 400;
  font-size: 0.8em; }

img {
  vertical-align: bottom; }

#global-nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  overflow: auto;
  background-color: #697069;
  color: white;
  margin-bottom: 0.9em; }
  #global-nav li {
    float: left;
    list-style-type: none; }
  #global-nav a {
    color: white;
    text-decoration: none; }
  #global-nav .nav-tab a {
    border-top: 0.4em solid transparent;
    padding: 0.5em 1.2em 0.9em 1.2em;
    display: block; }
    #global-nav .nav-tab a:hover {
      background-color: #8e948e; }
  #global-nav .home {
    background-color: #78a76d;
    display: block; }
  #global-nav .selected {
    border-top: 0.4em solid #78a76d !important;
    background-color: #ecedec;
    color: #434c43; }
    #global-nav .selected:hover {
      background-color: #c7c9c7 !important; }

main {
  padding: 0 1em 1.3em;
  margin-top: 4em; }

#workspace-header {
  position: relative;
  overflow: auto;
  margin-bottom: 0.6em; }
  #workspace-header #header-left {
    float: left; }
    #workspace-header #header-left #workspace-titles {
      margin-bottom: 0.3em; }
      #workspace-header #header-left #workspace-titles .workspace-name {
        font-size: 1.4em;
        font-weight: 700; }
      #workspace-header #header-left #workspace-titles .workspace-type {
        font-size: 1em;
        font-weight: 300; }
    #workspace-header #header-left .view-selector {
      display: block;
      font-size: 1.05em;
      color: #434c43;
      padding: 0.4em;
      border: 0.1em solid #b4b7b4;
      background-color: white; }
      #workspace-header #header-left .view-selector::after {
        background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBvbHlnb24gZmlsbD0iIzQzNGM0MyIgcG9pbnRzPSI3LjksMTAuMiAzLjcsNi4xIDEyLDYuMSAiLz48L3N2Zz4=");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.5em 1.5em;
        content: "";
        display: inline-block;
        margin-left: 0.4em;
        width: 1em;
        height: 1em; }
  #workspace-header #header-right {
    float: right; }
    #workspace-header #header-right #workspace-nav {
      overflow: auto;
      margin-bottom: 0.5em; }
      #workspace-header #header-right #workspace-nav li {
        float: left;
        list-style-type: none;
        border: 0.1em solid #b4b7b4;
        border-radius: 0.25em;
        margin-right: 0.4em;
        padding: 0.7em;
        height: 1em;
        min-width: 1em;
        color: #697069;
        line-height: 1em;
        cursor: pointer; }
      #workspace-header #header-right #workspace-nav li.selected {
        border: 0.1em solid #e06633;
        background-color: #e06633; }
        #workspace-header #header-right #workspace-nav li.selected:hover {
          background-color: #d84000; }
      #workspace-header #header-right #workspace-nav li.home-icon {
        background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+CTxwb2x5Z29uIGZpbGw9IiNmZmYiIHBvaW50cz0iMTYsOCAyNSwxNyAzMiwxNyAxNiwxIDEwLDcgMTAsNCA2LDQgNiwxMSAwLDE3IDcsMTciLz48cG9seWdvbiBmaWxsPSIjZmZmIiBwb2ludHM9IjE2LDExIDgsMTkgOCwzMiAxNCwzMiAxNCwyMyAxOCwyMyAxOCwzMiAyNCwzMiAyNCwxOSIvPgo8L3N2Zz4=");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.5em; }
      #workspace-header #header-right #workspace-nav li.gear-icon {
        background-image: url('../images/gear.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.5em;
        margin-right: 0; }
    #workspace-header #header-right #modal-buttons {
      float: right; }
      #workspace-header #header-right #modal-buttons .modal-button {
        padding: 0.4em;
        border: 0.1em solid #6691ba;
        border-radius: 0.25em;
        background-color: #bfd1e2;
        color: #434c43;
        margin-left: 0.3em;
        font-weight: 500; }
        #workspace-header #header-right #modal-buttons .modal-button:hover {
          background-color: #99b6d1; }

.widget {
  margin: 0em 0em 1em 0em;
  border: 0.1em solid #b4b7b4;
  width: 480px;
  display: inline-block;
  min-height: 6em;
  background-color: white;
  vertical-align: top; }
  .widget .widget-header {
    border-bottom: 0.2em solid #78a76d; }
    .widget .widget-header .title {
      display: inline-block;
      padding: 0.5em 0.8em;
      font-weight: 700; }
    .widget .widget-header .stamped {
      float: right;
      display: inline-block;
      padding: 0.3em 0.7em;
      font-weight: 400;
      font-size: 0.9em; }
  .widget .widget-body {
    padding: 0.5em 0.8em; }
    .widget .widget-body dl.text, .widget .widget-body dl.date {
      border-top: 0.1em dotted #b4b7b4;
      overflow: auto;
      margin-bottom: 0.2em; }
    .widget .widget-body dt.text, .widget .widget-body dt.date {
      float: left;
      font-weight: 700;
      margin-right: 0.5em; }
    .widget .widget-body dd.text, .widget .widget-body dd.date {
      float: right;
      padding: 0.5em 0.8em;
      text-align: right; }
    .widget .widget-body dl.longtext {
      margin-bottom: 0.6em; }
    .widget .widget-body dt.longtext {
      display: block;
      font-weight: 700;
      margin-bottom: 0.2em; }
    .widget .widget-body table {
      width: 100%;
      border-collapse: collapse; }
    .widget .widget-body thead tr {
      background-color: #d0d2d0;
      text-align: left;
      background: -moz-linear-gradient(top, #ecedec 0%, #d0d2d0 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ecedec), color-stop(100%, #d0d2d0));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ecedec 0%, #d0d2d0 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ecedec 0%, #d0d2d0 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ecedec 0%, #d0d2d0 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #ecedec 0%, #d0d2d0 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecedec', endColorstr='#d0d2d0',GradientType=0 );
      /* IE6-9 */ }
    .widget .widget-body td, .widget .widget-body th {
      font-weight: 400;
      color: #697069;
      padding: 0.3em 0.5em;
      border-right: 0.1em dotted #b4b7b4; }
    .widget .widget-body td {
      border-top: 0.1em dotted #b4b7b4; }
  .widget .widget-body.table {
    padding: 0; }

footer {
  position: fixed;
  padding: 5px 16px;
  bottom: 0px;
  width: 100%;
  color: #999999;
  font-size: 12px;
  border-top: 1px solid #c2c2c2;
  background-color: #eaeaea;
  z-index: 40;
  height: 1.3em; }
