* {
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    outline: 0;
}

body {
    background-color: #ecedec;
    font-family: 'Oxygen', 'trebuchet ms';
    font-weight: 400;
    font-size: 0.8em;
}

img {
    vertical-align: bottom;
}

button.expander {
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    width: 15px;
    height: 10px;
    text-align: middle;
}

.dragging {
    z-index: 20;
}

.over {
    background-color: red !important;
}

#global-nav {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    overflow: auto;
    background-color:#697069;
    color:#fff;
    margin-bottom: 0.9em;

    li {
        float: left;
        list-style-type: none;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    .nav-tab a {
        border-top: .4em solid transparent;
        padding: .5em 1.2em .9em 1.2em;
        display: block;

        &:hover {
        background-color: #8e948e;
        }
    }

    .home {
        background-color: #78a76d;
        display: block;
    }

    .selected {
        border-top: .4em solid #78a76d !important;
        background-color: #ecedec;
        color: #434c43;

        &:hover {
            background-color: #c7c9c7 !important;
        }
    }

}

main {
    padding: 0 1em 1.3em;
    margin-top: 4em;
}

#workspace-header {
    position: relative;
    overflow: auto;
    margin-bottom: 0.6em;

    #header-left {
        float: left;

        #workspace-titles {
            margin-bottom: 0.3em;

            .workspace-name {
                font-size: 1.4em;
                font-weight: 700;
            }

            .workspace-type {
                font-size: 1em;
                font-weight: 300;
            }
        }

        .view-selector {
            display: block;
            font-size: 1.05em;
            color: #434c43;
            padding: 0.4em;
            border: 0.1em solid #b4b7b4;
            background-color: #fff;

            &::after {
                background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBvbHlnb24gZmlsbD0iIzQzNGM0MyIgcG9pbnRzPSI3LjksMTAuMiAzLjcsNi4xIDEyLDYuMSAiLz48L3N2Zz4=");
                background-position:center;
                background-repeat:no-repeat;
                background-size: 1.5em 1.5em;
                content: "";
                display:inline-block;
                margin-left: .4em;
                width: 1em;
                height: 1em;
            }
        }
    }

    #header-right {
        float: right;

        #workspace-nav {
            overflow: auto;
            margin-bottom: 0.5em;

            li {
                float: left;
                list-style-type: none;
                border: 0.1em solid #b4b7b4;
                border-radius: 0.25em;
                margin-right: 0.4em;
                padding: 0.7em;
                height: 1em;
                min-width: 1em;
                color: #697069;
                line-height: 1em;
                cursor: pointer;
            }

            li.selected {
                border: 0.1em solid #e06633;
                background-color: #e06633;

                &:hover{
                    background-color:#d84000;
                }
            }

            li.home-icon{
                background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+CTxwb2x5Z29uIGZpbGw9IiNmZmYiIHBvaW50cz0iMTYsOCAyNSwxNyAzMiwxNyAxNiwxIDEwLDcgMTAsNCA2LDQgNiwxMSAwLDE3IDcsMTciLz48cG9seWdvbiBmaWxsPSIjZmZmIiBwb2ludHM9IjE2LDExIDgsMTkgOCwzMiAxNCwzMiAxNCwyMyAxOCwyMyAxOCwzMiAyNCwzMiAyNCwxOSIvPgo8L3N2Zz4=");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 1.5em;
            }

            li.gear-icon{
                background-image: url('../images/gear.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 1.5em; 
                margin-right: 0;
            }

        }

        #modal-buttons {
            float: right;

            .modal-button {
                padding: 0.4em;
                border: 0.1em solid #6691ba;
                border-radius: 0.25em;
                background-color: #bfd1e2;
                color: #434c43;
                margin-left: 0.3em;
                font-weight: 500;

                &:hover {
                    background-color:#99b6d1;
                }
            }
        }
    }
}

.footbed {
    margin: 0.5em;
    padding: 0.5em;
    background-color: #78a76d;
    color: #fff;
}

.widget {
    margin: 0em 0em 1em 0em;
    border: 0.1em solid #b4b7b4;
    width: 450px;
    display:inline-block;
    min-height:2em;
    background-color:#fff;
    vertical-align: top;

    .widget-header {
        border-bottom:.2em solid #78a76d;

        .title {
            display: inline-block;
            padding:.5em .8em;
            font-weight:700;
        }

        .stamped {
            float:right;
            display: inline-block;
            padding:.3em .7em;
            font-weight:400;
            font-size:.9em;
        }
    }

    .widget-body {
        padding: .5em .8em;

        dl.text, dl.date {
            border-top: .1em dotted #b4b7b4;
            overflow: auto;
            margin-bottom: 0.2em;
        }

        dt.text, dt.date {
            float: left;
            font-weight: 700;
            margin-right: 0.5em;
        }

        dd.text, dd.date {
            float: right;
            padding: .5em .8em;
            text-align:right;
        }

        dl.date {
        }

        dt.date {
        }

        dd.date{
        }

        dl.longtext {
            margin-bottom: 0.6em;
        }

        dt.longtext{
            display: block;
            font-weight: 700;
            margin-bottom: 0.2em;
        }

        dd.longtext{
        }

        table {
            width:100%;
            border-collapse:collapse;
        }

        thead tr {
            background-color:#d0d2d0;
            text-align:left;
            background: -moz-linear-gradient(top, #ecedec 0%, #d0d2d0 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecedec), color-stop(100%,#d0d2d0)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #ecedec 0%,#d0d2d0 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #ecedec 0%,#d0d2d0 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #ecedec 0%,#d0d2d0 100%); /* IE10+ */
            background: linear-gradient(to bottom, #ecedec 0%,#d0d2d0 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecedec', endColorstr='#d0d2d0',GradientType=0 ); /* IE6-9 */
        }

        td, th {
            font-weight:400;
            color:#697069;
            padding:.3em .5em;
            border-right:.1em dotted #b4b7b4;
        }

        td {
            border-top:.1em dotted #b4b7b4;
        }
    }

    .widget-body.table {
        padding: 0;
    }
}

footer {
    position:fixed;
    padding:5px 16px;
    bottom:0px;
    width: 100%;
    color: #999;
    font-size:12px;
    border-top:1px solid #c2c2C2;
    background-color:#eaeaea;
    z-index:40;
    height: 1.3em;
}
