<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Daptiv PPM Prototype 4.0</title>
    <link href='css/oxygen.css' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="css/default.css" />
    <link href="css/introjs.css" rel="stylesheet">
    <script src="js/jquery.min.js" ></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/intro.min.js"></script>
    <script type="text/javascript" src="js/intro.js"></script>
    <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="js/Prototype.js"></script>
</head>
<body>
    <menu data-step="1" data-intro="New Enterprise Navigation tabs" type="toolbar" id="global-nav">
        <li class="home"><a href="#" class="home"><img src="images/daptiv-logo.png" alt="Daptiv Home" /></a></li>
        <li class="nav-tab"><a href="#">Recent</a></li>
        <li class="nav-tab"><a href="#">Dashboard</a></li>
        <li class="nav-tab"><a href="#" class="selected">Projects</a></li>
        <li class="nav-tab"><a href="#">Requests</a></li>
        <li class="nav-tab"><a href="#">Tasks</a></li>
        <li class="nav-tab"><a href="#">Calandar</a></li>
        <li class="nav-tab"><a href="#">Timesheets</a></li>
        <li class="nav-tab"><a href="#">Capacity Planner</a></li>
        <li class="nav-tab"><a href="#">Executive</a></li>
        <li class="nav-tab"><a onclick="javascript:introJs().start()">Learn</a></li>
    </menu>
    <main id="workspace-home">
        <header id="workspace-header">
            <div id="header-left">
                <div id="workspace-titles">
                    <h2 class="workspace-name">FDL 550 Certification</h2>
                    <h3 class="workspace-type">Workspace Type Name</h3>
                </div>
                <button data-step="3" data-intro="View Selector - This is navigation for the current application context." class="view-selector">View Selector</button>
            </div>
            <div id="header-right">
                <menu data-step="2" data-intro="New Workspace Navigation" id="workspace-nav">
                    <li class="home-icon selected" id="wsHome"></li>
                    <li class="nav-tab" id="wsTasks">Tasks</li>
                    <li class="nav-tab" id="wsIssues">Issues</li>
                    <li class="nav-tab" id="wsMembers">Members</li>
                    <li class="nav-tab" id="wsExpenses">Expenses</li>
                    <li class="nav-tab" id="wsDiscussions">Discussions</li>
                    <li class="nav-tab" id="wsRisks">Risks</li>
                    <li class="nav-tab" id="wsDocuments">Documents</li>
                    <li class="nav-tab" id="wsProjectFinancials">Project Financials</li>
                    <li class="gear-icon" id="wsGear"></li>
                </menu>
                <div id="modal-buttons">
                    <button data-step="4" data-intro="Use the latest modal to update your project status." class="modal-button">Update Status</button>
                    <button class="modal-button">Edit Profile</button>
                </div>
            </div>
        </header>
        <div ng-controller="dashboard"><button ng-new-data ng-click="doData($event)">data</button>
        <div id="dashboard" >
            <div draggable droppable ng-repeat="widget in widgets" ng-switch="widget.name" id="{{widget.name}}" class="widget" title="{{widget.name}}">
                <div ng-widget ng-switch-when="Status"></div>
                <div ng-widget ng-switch-when="Profile"></div>
                <div ng-tablewidget ng-switch-when="Risks"></div>
                <div ng-tablewidget ng-switch-when="Open-issues"></div>
                <div ng-tablewidget ng-switch-when="Milestones"></div>
            </div></div>
        </div>
    </main>
    <footer>
        <div>Company Confidential Copyright &copy; Daptiv 2011</div>
    </footer>
</body>
</html>
