<div class="widget-header">
    <div class="title">{{widget.name}}</div>
    <button class="expander expanded" ng-click="toggle($event)">{{hidebody | plusMinus}}</button>
    <div class="stamped">{{widget.stamp}}</div>
</div>
<div class="widget-body table" ng-hide="hidebody">
    <table ng-switch="widget.name">
        <thead>
            <tr>
				<th ng-repeat="val in widget.headers">{{val}}</th>
            </tr>
        </thead>
        <tbody ng-switch-when="Risks">
			<tr ng-repeat="row in widget.rows" ng-risks-row class="data-row"><tr>
        </tbody>
        <tbody ng-switch-when="Milestones">
			<tr ng-repeat="row in widget.rows" ng-milestones-row class="data-row"></tr>
        </tbody>
        <tbody ng-switch-when="Open-issues">
			<tr ng-repeat="row in widget.rows" ng-open-issues-row class="data-row"></tr>
        </tbody>
    </table>
</div>
