<div class="widget-header">
    <div class="title">{{widget.name}}</div>
    <div class="stamped">{{widget.stamp}}</div>
</div>
<div class="widget-body table">
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Owner</th>
                <th>Due Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>DNS Configuration</td>
                <td>Dave Lindquist</td>
                <td>7/26/2012</td>
                <td></td>
            </tr>
            <tr>
                <td>Update Project Plan</td>
                <td>Tom Ford</td>
                <td>7/28/2012</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
